#titulo{
    font: bold 26px "MiNuevaLetra", cursive;
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}
header{
    margin: 40px;
    padding: 10px;
    text-align: center;
    background-image: url(/imagenes/ladrillosclaros.jpg);
}
@font-face {
    font-family: "MiNuevaLetra";
    src: url("/Dancing_Script/static/DancingScript-SemiBold.ttf");
}