header { 
    margin: 30px; 
    padding: 15px; 
    text-align: center; 
    border: 29px solid; 
   border-image: url("/imagenes/diamantes.jpeg") 29 round; 
  } 
  #titulo { 
    font: bold 26px Verdana, sans-serif; 
  }